<header>
    <div class="container">
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
                <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
            </li>
          </ul>
      </nav>
    </div>
</header>
{%- schema -%}
{
    "name":"header_2",
    "tag":"section",
    "settings":[
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
        {
            "type":"select",
            "id":"bg_color_scheme",
            "label":"Background Color",
            "default":"bg-white",
            "options":[
                {
                    "value": "bg-yellow",
                    "label": "yellow"
                  },
                  {
                    "value": "bg-white",
                    "label": "white"
                  },
                  {
                    "value": "bg-black",
                    "label": "black"
                  }
            ]
        }
    ],
    "presets":[
      {
        "name":"header-2"
      }
    ]
}
{%- endschema -%}