<style>
  html {
    --primary-color:rgb(254,226,167);
    --white: rgb(280,280,280);
    --black: rgb(0,0,0);
  }
  .bg-yellow{
  Background: var(--primary-color);
  color:var(--white)
  }
  .bg-black{
  Background: var(--black);
  color:var(--white)
  }
  .bg-white{
  Background: var(--white);
  color:var(--black)
  }
  .yellow{
  color: var(--primary-color)
  }
  .black{
  color: var(--black)
  }
  .white{
  color: var(--white)
  }
  .top-bar{
  border:1px solid #c4c1c0;
  }
  .para-1 {
    padding: 5px 10px;
    margin: 0;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--black)

  }

</style>

<div class="top-bar {{section.settings.bg_color_scheme}}">
  <p class="{{section.settings.text_alignment}}">
  <a class="para-1" href="#">  {{ section.settings.top_bar_text }} </a>
  </p>
</div>

{% schema %}
{
  "name": "Top Bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "top_bar_text",
      "label": "Text",
      "default": "mega sale  discount all item up to 30% for christmast event"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Text Align"
    },
    
    {
      "type": "select",
      "id": "bg_color_scheme",
      "label":"Background Color",
      
      "options": [
        {
          "value": "bg-yellow",
          "label": "yellow"
        },
        {
          "value": "bg-white",
          "label": "white"
        },
        {
          "value": "bg-black",
          "label": "black"
        }
      ],
      "default":"bg-yellow"
    }
  
  ],
  "presets": [
    {
      "name": "top bar"
    }
  ]
}
{% endschema %}
