html {
  --primary-color:rgb(254,226,167);
  --white: rgb(280,280,280);
  --black: rgb(0,0,0);
}
.bg-yellow{
Background: var(--primary-color);
color:var(--white)!important;
}
.bg-black{
Background: var(--black);
color:var(--white)!important;
}
.bg-white{
Background: var(--white);
color:var(--black)
}
.yellow{
color: var(--primary-color)
}
.black{
color: var(--black)
}
.white{
color: var(--white)
}
.left{
text-align: left;
}
.center{
text-align: center;
}
.right{
text-align: right;
}
.row{
    display: flex !important;
    width: 100% !important;
}
[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
  .col-lg-4 {
    flex-basis: 33.33%;
  }
  .col-lg-8 {
    flex-basis: 66.66%;
  }
  .col-lg-5{
    flex-basis: 41.66% !important;
}
.col-lg-7{
    flex-basis: 58.33% !important;
}
.col-lg-12{
  flex-basis: 100% !important;
}
.size_h1{
 font-size: 40px;
 line-height: 48px; 
}
.size_h2{
 font-size: 30px;
 line-height: 38px; 
}
.size_h3{
 font-size: 20px;
 line-height: 28px; 
}
.capitilize{
  text-transform: capitalize;
}
.uppercase{
  text-transform:uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.card_product{
    position: relative;
}
.card_product_image img{
    width: 100%;
    height: 415px;
}

.card_product h1,
.card_product h2{
  color: #999999;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
}
.card_product p {
  
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}
.card_product .product_price{
  color: red;
}
.product_btn{
    padding: 17px 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    background: transparent;
    border: 2px solid black;
    color: black;
    text-decoration: none;
}
/* .product_btn:hover{
    background-color: white;
    color: black;
} */
