.row{
    display: flex !important;
    width: 100% !important;
}
[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
  .col-lg-4 {
    flex-basis: 33.33%;
  }
  .col-lg-8 {
    flex-basis: 66.66%;
  }
  .col-lg-5{
    flex-basis: 41.66% !important;
}
.col-lg-7{
    flex-basis: 58.33% !important;
}
.col-lg-12{
  flex-basis: 100% !important;
}
.card_product{
    position: relative;
}
.card_product_image img{
    width: 100%;
    height: 500px;
}
.card_product_content{
    position: absolute;
    top: 0;
    left: 0;
    padding:55px;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important;
}
.card_product h1,
.card_product h2{
color: white;
font-weight: 700;
line-height: auto !important;
}
.product_btn{
    padding: 17px 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    background: transparent;
    border: 2px solid white;
    color: white;
}
.product_btn:hover{
    background-color: white;
    color: black;
}
